.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}

.imgContainer {
  flex-basis: 20%;
  aspect-ratio: 1/1;
  border-radius: var(--br);
  position: relative;
}

.textContainer {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
