.container {
  border-top: 1px solid grey;
  padding: 0 0.5rem 1rem 0.5rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 1rem;
}
.list > * {
  flex: 0 1 100px;
}
